
:root {
    --branco-principal: #dfd1d1;
    --cinza-principal: #e28080;
    --botao-azul: #bbb4b4;
    --cor-de-fundo: #00030C;
    --botao-vermelho: #d12525;
    

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}


* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("the100.jpg");
    background-repeat: no-repeat;
    margin-top: lem;
    text-align: center;
    min-height: 100%;
    background-size: cover;
    background-position: center center;


}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.titulo{
    text-align: center;
    color: var(--branco-principal);
}
.container_botao-1{
    background-color: var(--botao-vermelho);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
}
